.slav_slider{
	width: 9999px;

	&__wrp{
		width: 100%;
		overflow: hidden;
		position: relative;
		margin: 0 0 60px 0;
	}

	&__item{
		float: left;
		position: relative;

		img{
			width: 1000px;
		}

		p{
			position: absolute;
			top: 20px;
			left: 20px;
			background: rgba(255, 255, 255, 0.68);
			padding: 10px;
			margin: 0;
			font: 26px "SegoeUI-Light";
		}
	}

	&__nav{
		clear: both;

		.nav__btn{
			position: absolute;
			width: 40px;
			height: 40px;
			background: url(../i/slider_nav.png) no-repeat;

			&_prev{
				top: 160px;
				left: 20px;
				background-position: 0 0;
			}

			&_next{
				top: 160px;
				right: 20px;
				background-position: -41px 0;
			}

			@include hover-active;
		}

		&_dot{
			position: absolute;
			bottom: 10px;
			width: 100%;

			.dot_wrp{
				text-align: center;	
			}

			.dot{
				display: inline-block;
				width: 10px;
				height: 10px;
				background: #fff;
				margin: 0 10px;
				opacity: .6;
				@include radius;
				@include hover-active;

				&.current{
					opacity: 1;
				}
			}
		}
	}
}