@import "normalize";
@import "animate";
@import "tooltips";
@import "fonts";
@import "mixins";
@import "slav_slider";

/* vars */
$blue: #21afb9;
$blue_dark: #484a83;

/* Main styles */
html, body{
	height: 100%;
}

body{
	font: 14px "Open Sans";
	color: #666;
}

.title{

}

.wrp{
	width: 1000px;
	margin: 0 auto;
}

header{
	min-height: 165px;
	position: relative;
}

main{
	display: block;
	min-height: 400px;
}

footer{
	background: #4e5d72;
	min-height: 325px;
	color: #fff;
}

/* BEM STYLES */

/* col styles */
.col{

	&__nav{

		&_header{

			ul{
				margin: 0;
				padding: 0;
			}
			
			li{
				float: left;
				margin: 0 20px 0 0;

				a{
					color: $blue;
				}
			}
		}

		&_footer{

		}
	}

	&__slider{

	}

	&__new-goods{

	}

	&__recommend{

	}

	&__brands{

	}

	&__copy{

	}

	&__social{

		&_icon{

			.yt{

			}

			.vk{

			}

			.fb{

			}

			.tw{

			}
		}
	}

	&__info{

		&_tels{

			p{

			}
		}
	}

	&__user-office{
		position: absolute;
		top: 0;
		right: 0;

		&_link-reg{
			color: $blue;
		}

		&_link-inp{
			color: $blue;
		}
	}

	&__search{

		&_form{

		}

		&_input{
			
		}

		&_btn{
			
		}
	}

	&__cart{

		&_link{

		}

		&_goods-info{

		}
	}

	&__nav_footer{

		li{

			a{
				text-decoration: none;
				color: #fff;
			}
		}
	}

	&__payment{

		li{
			float: left;

			a{
				text-decoration: none;
			}
		}
	}

	&__link_more{
		text-align: right;

		a{
			color: $blue;
		}
	}

	&__list{

	}
}

/* carousel styles */
.carousel{

	&__item{
		display: table-cell;
		vertical-align: top;

		img{
			border: 1px solid #9d9d9d;
		}
	}

	&__nav{

		&_next{

		}
	}
}