@import "normalize";
@import "animate";
@import "tooltips";
@import "fonts";
@import "mixins";
@import "slav_slider";

/* vars */
$blue: #21afb9;
$blue_dark: #484a83;

/* Main styles */
html, body{
	height: 100%;
}

body{
	font: 14px 'SegoeUI-Light', Arial;
	color: #666;
}

a:hover{
	text-decoration: none;
}

.title{
	font: 30px "SegoeUI-Light";
	color: $blue_dark;
	margin: 0 0 12px 0;
}

.wrp{
	width: 1000px;
	margin: 0 auto;
}

.logo{
	position: absolute;
	top: 5px;
	left: 10px;
	background: url(../i/logo.png) no-repeat;
	width: 48px;
	height: 39px;
}

header{
	min-height: 165px;
	position: relative;
}

main{
	display: block;
	min-height: 400px;
	padding: 0 0 70px 0;
}

footer{
	background: #4e5d72;
	min-height: 250px;
	color: #fff;
	font-size: 14px;
	padding: 30px 0 0;
}

/* BEM STYLES */

/* col styles */
.col{

	&__nav{

		&_header{
			position: absolute;
			top: 60px;
			left: 0;

			ul{
				margin: 0;
				padding: 0;
			}
			
			li{
				float: left;
				margin: 0 22px 0 0;

				a{
					color: $blue;
					font-size: 14px;
				}
			}
		}

		&_footer{
			clear: both;

			ul{
				margin: 0;
				padding: 45px 0 0;
				list-style: none;
			}

			li{
				margin: 0 0 5px 0;
			}
		}
	}

	&__slider{
		height: 350px;
		margin: 0 0 20px 0;
	}

	&__new-goods{
		clear: both;
	}

	&__recommend{
		clear: both;
	}

	&__brands{
		clear: both;
	}

	&__copy{
		float: left;
		width: 300px;
	}

	&__social{
		width: 250px;
		float: right;
		position: relative;

		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			top: -5px;
			right: 0;
		}

		li{
			float: left;
		}

		&_icon{
			display: block;
			width: 30px;
			height: 30px;
			background: url(../i/social.jpg) -5px -5px no-repeat;
			margin: 0 0 0 2px;
			@include hover-active;

			&.od{
				background-position: -112px -5px;
			}

			&.fb{
				background-position: -41px -5px;
			}

			&.tw{
				background-position: -76px -5px;
			}
		}
	}

	&__info{
		position: absolute;
		top: 5px;
		left: 100px;

		&_tels{
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;

			p{
				font-size: 18px;
				margin: 0;
			}

			span{
				font-size: 12px;
			}
		}
	}

	&__user-office{
		position: absolute;
		top: 22px;
		right: 0;

		a{
			color: $blue;
		}

		&_link{
			display: table-cell;
			vertical-align: middle;
			height: 41px;
			position: relative;
			padding: 0 30px 0 50px;

			&:nth-child(2){
				padding-right: 0;
			}
		}

		&_link div{
			background: url(../i/user_office_icon.png) 0 0 no-repeat;
			width: 41px;
			height: 41px;
			position: absolute;
			top: 0;
			left: 0;

			&.reg{
				background-position: 0 0;
			}

			&.inp{
				background-position: -41px 0;
			}
		}
	}

	&__search{
		position: absolute;
		top: 90px;
		left: 0;
		width: 750px;
		height: 50px;
		border-bottom: 3px solid #d0d0d0;
		background: rgb(0,186,199); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(0,186,199,1) 0%, rgba(1,150,160,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,186,199,1)), color-stop(100%,rgba(1,150,160,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,186,199,1) 0%,rgba(1,150,160,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,186,199,1) 0%,rgba(1,150,160,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,186,199,1) 0%,rgba(1,150,160,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,186,199,1) 0%,rgba(1,150,160,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bac7', endColorstr='#0196a0',GradientType=0 ); /* IE6-9 */
		@include border-radius(7px);

		&_form{
			margin: 10px;
		}

		&_input{
			width: 605px;
			height: 30px;
			background: #fff;
			border: none;
			box-shadow: inset -3px 3px 3px #ccc;
			padding: 0 10px;
			@include border-radius(7px);
		}

		&_btn{
			width: 88px;
			height: 31px;
			margin: 0 0 0 10px;
			font: 14px Arial;
			color: #6d6762;
			border: none;
			background: rgb(253,253,253); /* Old browsers */
			background: -moz-linear-gradient(top,  rgba(253,253,253,1) 0%, rgba(205,205,205,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,253,253,1)), color-stop(100%,rgba(205,205,205,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(205,205,205,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(205,205,205,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(253,253,253,1) 0%,rgba(205,205,205,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(253,253,253,1) 0%,rgba(205,205,205,1) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
			@include border-radius(7px);
			@include hover-active;
		}
	}

	&__cart{
		position: absolute;
		top: 95px;
		right: 0;

		a{
			color: $blue;
		}

		.cart{
			background: url(../i/user_office_icon.png) -82px 0 no-repeat;
			width: 41px;
			height: 41px;
			position: absolute;
			top: 0;
			left: 0;
		}

		&_link{
			display: table-cell;
			vertical-align: middle;
			width: 150px;
			height: 41px;
			position: relative;
			padding: 0 0 0 50px;
		}

		&_goods-info{
			font-size: 12px;
			color: #8a8581;
			text-decoration: none;
			margin: 0;
		}
	}

	&__nav_footer{
		margin: 50px 0 0;

		ul{
			list-style: none;
		}

		li{

			a{
				text-decoration: none;
				color: #fff;
			}
		}
	}

	&__payment{
		float: right;

		ul{
			list-style: none;
		}

		li{
			float: left;

			a{
				text-decoration: none;
			}
		}
	}

	&__link_more{
		text-align: right;

		a{
			color: $blue;
		}
	}

	&__list{

	}
}

/* carousel styles */
.carousel{
	clear: both;
	width: 1000px;
	height: 380px;
	overflow: hidden;
	position: relative;

	.wrp{
		width: 9999px;
		height: 380px;
		overflow: hidden;
	}

	ul{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item{
		float: left;
		margin: 0 10px 0 0;
		text-align: center;
		width: 228px;

		img{
			border: 1px solid #9d9d9d;
			margin: 0 0 5px 0;
		}

		a{
			color: $blue;
			font-size: 14px;
		}

		&:hover{
			opacity: .8;
			cursor: pointer;

			a{
				text-decoration: none;
			}
		}
	}

	.nav__btn_next{
		position: absolute;
		top: 0;
		right: 0;
		width: 50px;
		height: 328px;
		background: #fff;
		z-index: 5;
		@include hover-active;

		&:before{
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			z-index: 20;
			margin-top: -21px;
			width: 42px;
			height: 42px;
			background: url(../i/slider_nav.png) -122px center no-repeat;
		}
	}
}

.carousel.brands{
	height: 100px;
		
	.carousel__item{
		width: 155px;
		display: table-cell;
		vertical-align: middle;
		height: 100px;
		float: none;
		margin: none;

		img{
			border: none;
			margin: none;
		}
	}

	.nav__btn_next{
		height: 100px;
	}
}